<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Product Management system</h1>
    </header>
    <div>
        <form action="/addproduct">
            <button type="submit" name="add"id="add" value="add" >add new product</button>
        </form>
        <table border="2">
            <tr>
                <th>Product id</th>
                <th>Name</th>
                <th>qty</th>
                <th>price</th>
                <th>action</th>
            </tr>
            <% for(var i=0;i<proddata.length;i++){%>
               <tr>
                    <td><%=proddata[i].pid%></td>
                    <td><%=proddata[i].pname%></td>
                    <td><%=proddata[i].qty%></td>
                    <td><%=proddata[i].price%></td>
                    <td><a href="/deleteprod/<%=proddata[i].pid%>">delete</a></td>
                </tr>
            <%}%>
        </table>
    </div>
</body>
</html>